<h1> Choose what to do </h1>

<a href="/items/new">create new item</a>
<a href="/category/new">create new category</a>
<a href="/items">view items</a>
<a href="/category/">view categories</a>
<a href="/category/search">search items in category</a>
<a href="/items/search">search items in category</a>
